<h1>Shopping List</h1>
<div class="addItem" ng-controller="AddCtrl">
  <form>
    <input type="text" placeholder="Add Item" ng-model="itemToAdd">
    <input type="number" ng-model="quantity" name="points" min="1" required>
    <button type="submit" ng-click="addItem(itemToAdd)">Add</button>
  </form>
  <ul ng-repeat="item in $storage.list">
     <li><h4 ng-class="{strike: item.check}"><input type="checkbox" ng-model="item.check">{{item.toDo}} <p style="display:inline" ng-hide="item.number ==1">({{item.number}})</p></input></h4></li>
  </ul>

   <button type="button" ng-click="deleteItem()">Delete Completed</button>


  
</div>